button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	background: transparent;
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

/**
 * Menu Button
 */
	 
button.menu-toggle {
	border: none;
}

/**
* Woo Commerce Buttons
*/

a.button, button.button, input.button, a.button.wc-backward, #review_form #submit {
	border: 1px solid;
	border-color: $color__border-button;
	background: transparent;
		@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;
	
	&:hover {
			border-color: $color__border-button-hover;
			background: #000000;
			color: #ffffff;
			
		}
	
		&:active,
		&:focus {
			border-color: $color__border-button-focus;
		}
}

