.front-left,
.front-right {
    width: 100%;
    float: none;
    padding: 0;
}
/* CONTENT AREA */
.content-area {
	background: #fff;
}

.section-title {
    font-size: 30px;
    font-size: 3rem;
    line-height: 1.2em;
}
				
/*Call to Action*/ 
#call-to-action {
    color: #fff;
    padding: 4rem 0;
}

/*HEADER IMAGE*/
.call-to-action-background-image{
	 background: no-repeat right center;
	 background-size: cover;
	 min-height: 400px;
}


/*WHAT*/ 
#what {
    color: #fff;
    background: #404040;
    padding: 4rem 0;
}

/* TESTIMONIALS */
#testimonials {
    padding: 4rem 0;
    background: hsl(0, 0%, 90%);
}

/* PROGRAMS */ 

#programs {
    padding: 4rem 0;
}
#programs .section-title {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #8abf5e;
}

.programs-list {
    margin: 4rem -4rem 0 -2rem;
    padding: 0;
    list-style: none;
}

.programs-list li {
    display: block;
    color: #404040;
    padding: 2rem;
    margin: 0 4rem 2rem 0;
    text-decoration: none;
    -webkit-column-break-inside: avoid;
                   break-inside: avoid-column;
}

.programs-list li,
.programs-list li a,
.programs-list li h3 {
    transition: all .5s ease;
}

.programs-list li:hover {
    background: #000000;
}

.programs-list li:hover,
.programs-list li:hover a,
.programs-list li:hover a:hover,
.programs-list li:hover a h3 {
    color: #ffffff !important;
}


/* WHO THE FUCK IS THIS GUY*/ 
#who {
    padding-top: 4rem;
    padding-bottom: 6rem;
	color: #fff;
	background: #00497A;
}

/* CONTACT */
#ask {
    padding: 4rem 0;
}

.indent {
    max-width: 1200px;
    margin: 0 auto;
}