h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1 {
	font-family: "NoBiggieOne";
   //font-size: 5.105em;
   //line-height: 0.928em;
   text-align: center;
   text-transform: uppercase;
}

h2 {
	font-family: "NoBiggieOne";
   //font-size: 1.526em;
   //line-height: 0.931em;
   //margin: 0px 0px 0.931em 0px;
}